---
apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: falco-security-exceptions
  namespace: falco
spec:
  exceptions:
    - policyName: allowed-registries
      ruleNames:
        - autogen-image-registries
    - policyName: deny-capabilities
      ruleNames:
        - autogen-forbid-capabilities
    - policyName: deny-hostpath
      ruleNames:
        - autogen-no-hostpath
    - policyName: deny-privileged
      ruleNames:
        - autogen-privileged-forbidden
    - policyName: disallow-root
      ruleNames:
        - autogen-root-forbidden
    - policyName: require-probes
      ruleNames:
        - autogen-liveness-probe
        - autogen-readiness-probe
  match:
    any:
      - resources:
          kinds:
            - DaemonSet
            - Pod
          namespaces:
            - falco
