apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-web
  namespace: app-web
  labels:
    app: app-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-web
  template:
    metadata:
      labels:
        app: app-web
    spec:
      securityContext:
        runAsUser: 1000     # Non-root user
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: app-web
          image: app-web-secure:1
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
