---
name: CD - Deploy to Kubernetes

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-push-sign:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/app-secure:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}/app-secure:latest

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Sign container image with Cosign Keyless via GitHub OIDC
        run: |
          cosign sign ghcr.io/${{ github.repository }}/app-secure:latest \
            --yes
          
